@import "../../styles/bundle.scss";

.post {
  &__card {
    height: 240px;
    max-width: 400px;
  }
}

.card {
  &__title {
    text-align: center;

    h3 {
      color: $color-blue-base;
    }
  }
}
