@import "../../styles/bundle.scss";

.post {
  position: relative;

  &__card {
    height: 240px;
    max-width: 400px;
  }
}

.card {
  &__title {
    text-align: center;

    h3 {
      color: $color-blue-base;
    }
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
  }
}
